.repo-bar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10rem;
    padding: 1rem 5rem;
}
.repo-bar p{
    display: flex;
    align-items: center;
    gap:1rem;
    color:#5FAEF7;
    font-weight: 500;
}

.repo-bar .bar-number{
    background-color: antiquewhite;
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 50%;
    color: black;
}